In [1]:
import pandas as pd
train = pd.read_csv("../../data/kaggle/house_prices/train.csv")
test = pd.read_csv("../../data/kaggle/house_prices/test.csv")
sample =  pd.read_csv("../../data/kaggle/house_prices/sample_submission.csv")

In [2]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
sample.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [4]:
train.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [5]:
# 現在の方針
# 列が非常に多く、モデル構築の為に欠損を補おうにもデータの全貌が見えない状態
# → 扱いやすい数値列に列を絞る

numeric_train = train.select_dtypes(include=["int64", "float64"])
numeric_train.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [6]:
print(len(numeric_train))
numeric_train.isnull().sum().sort_values(ascending=False)
# sort_valuesを使用し、データを並べ替え
# ascending=は昇順か降順か　降順にすることで欠損値を網羅

1460

LotFrontage      259
GarageYrBlt       81
MasVnrArea         8
LotArea            0
MSSubClass         0
Id                 0
OverallCond        0
OverallQual        0
YearRemodAdd       0
YearBuilt          0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
BsmtFinSF1         0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
1stFlrSF           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
SalePrice          0
dtype: int64

In [7]:
LotFrontage_median = numeric_train["LotFrontage"].median()
numeric_train["LotFrontage"] = numeric_train["LotFrontage"].fillna(LotFrontage_median)

GarageYrBlt_median = numeric_train["GarageYrBlt"].median()
numeric_train["GarageYrBlt"] = numeric_train["GarageYrBlt"].fillna(GarageYrBlt_median)

MasVnrArea_median = numeric_train["MasVnrArea"].median()
numeric_train["MasVnrArea"] = numeric_train["MasVnrArea"].fillna(MasVnrArea_median)
# 欠損値を中央値で補完

numeric_train.isnull().sum().sort_values(ascending=False)

Id               0
MSSubClass       0
LotFrontage      0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
MasVnrArea       0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageYrBlt      0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SalePrice        0
dtype: int64

In [ ]:
import numpy as np
from sklearn import linear_model
import sklearn.model_selection
# ライブラリのインポート

X = numeric_train
y = np.log1p(numeric_train["SalePrice"])
# SalePriceをlog変換

# logの概念
# log₄64 = 3 ⇔ 4³ = 64

# np.log(Ｘ)におけるlog
# logₑ(Ｘ)=Ｙ ⇔ eのＹ乗= Ｘ

# eは固定の数(2.718281828…)
# 機械学習、微分、確率で都合が良い数字になっている

# np.log()をするとどうなるか
# → 倍率が同じなら、log の差は一定になる

# 例)
# Ｘ	　log(Ｘ)
# 10	　約2.30
# 100	　約4.61
# 1000	　約6.91

In [ ]:
del X["SalePrice"]

X_train,X_test,y_train,y_test = sklearn.model_selection.train_test_split(X,y,random_state=0)
# Xが教材　ｙが答え　trainが学習用　testが評価用
model = linear_model.LinearRegression()
model.fit(X_train,y_train)
# x₁ x₂	y
# 1  1  3
# 2	 1	5
# 3	 2	8

# ｙ=w1x1+w2x2+b
# で、最適なw1,w2、を学習している
# 具体的な計算は(XtX)−1Xty ← 長期的に学習

# 各特徴量が価格にどれくらい寄与するかを係数として学習し、
# それらを足し合わせて価格を推定している
# 価格は分布が歪むため log 変換し、誤差が相対的に均等になるようにしている

print(model.score(X_test,y_test))
print(model.score(X_train,y_train))
# 評価用での精度が約75%,学習用での精度が約89% → 明らかに過学習/チューニングが必要

0.7521580736526012
0.8875464162042579

In [10]:
# Ridgeを使用し、係数が大きくなりすぎたら、ペナルティを与え過学習を抑制することで、
# より洗練されたモデルを構築することを目指したが、元の数値が最も高かった

In [12]:
# 現在の方針　
# モデルの作成完了/test(実際の予測に使うデータ)が加工前なので、加工
numeric_test = test.select_dtypes(include=["int64", "float64"])
numeric_test.isnull().sum().sort_values(ascending=False)

LotFrontage      227
GarageYrBlt       78
MasVnrArea        15
BsmtHalfBath       2
BsmtFullBath       2
GarageCars         1
GarageArea         1
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFinSF1         1
MSSubClass         0
Id                 0
OverallQual        0
LotArea            0
YearBuilt          0
2ndFlrSF           0
GrLivArea          0
OverallCond        0
1stFlrSF           0
YearRemodAdd       0
HalfBath           0
FullBath           0
LowQualFinSF       0
BedroomAbvGr       0
Fireplaces         0
TotRmsAbvGrd       0
KitchenAbvGr       0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
dtype: int64

In [15]:
LotFrontage_median = numeric_test["LotFrontage"].median()
numeric_test["LotFrontage"] = numeric_test["LotFrontage"].fillna(LotFrontage_median)

GarageYrBlt_median = numeric_test["GarageYrBlt"].median()
numeric_test["GarageYrBlt"] = numeric_test["GarageYrBlt"].fillna(GarageYrBlt_median)

MasVnrArea_median = numeric_test["MasVnrArea"].median()
numeric_test["MasVnrArea"] = numeric_test["MasVnrArea"].fillna(MasVnrArea_median)

BsmtHalfBath_median = numeric_test["BsmtHalfBath"].median()
numeric_test["BsmtHalfBath"] = numeric_test["BsmtHalfBath"].fillna(BsmtHalfBath_median)

BsmtFullBath_median = numeric_test["BsmtFullBath"].median()
numeric_test["BsmtFullBath"] = numeric_test["BsmtFullBath"].fillna(BsmtFullBath_median)

GarageCars_median = numeric_test["GarageCars"].median()
numeric_test["GarageCars"] = numeric_test["GarageCars"].fillna(GarageCars_median) 

GarageArea_median = numeric_test["GarageArea"].median()
numeric_test["GarageArea"] = numeric_test["GarageArea"].fillna(GarageArea_median) 

BsmtFinSF2_median = numeric_test["BsmtFinSF2"].median()
numeric_test["BsmtFinSF2"] = numeric_test["BsmtFinSF2"].fillna(BsmtFinSF2_median) 

BsmtUnfSF_median = numeric_test["BsmtUnfSF"].median()
numeric_test["BsmtUnfSF"] = numeric_test["BsmtUnfSF"].fillna(BsmtUnfSF_median) 

TotalBsmtSF_median = numeric_test["TotalBsmtSF"].median()
numeric_test["TotalBsmtSF"] = numeric_test["TotalBsmtSF"].fillna(TotalBsmtSF_median)  

BsmtFinSF1_median = numeric_test["BsmtFinSF1"].median()
numeric_test["BsmtFinSF1"] = numeric_test["BsmtFinSF1"].fillna(BsmtFinSF1_median) 
# 中央値で補完
# おそらく、もっとスマートな方法があるので、improvedで要改善


numeric_test.isnull().sum().sort_values(ascending=False)

Id               0
MSSubClass       0
LotFrontage      0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
MasVnrArea       0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageYrBlt      0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
dtype: int64

In [18]:
pred_log = model.predict(numeric_test)
pred = np.expm1(pred_log)
# logを元に戻す

In [19]:
submission = pd.DataFrame({"Id": test["Id"],"SalePrice": pred})
submission.to_csv("../../outputs/kaggle_house_price/submission.csv", index=False)